[class*="ion-social-"]{
    width: 30px;
    height: 30px;
    color: #757575;
    font-size: 14px;
    display: inline-block;
    line-height: 30px;
    @include rtl-margin-left(15px);
    text-align: center;
    @include transition(0.2s);
    border-radius: 100%;
    border:1px  solid #757575;
    &:first-child {
        margin-left: 0;
    }
}

.goody_social {
    a{
        margin-bottom: 10px;
        &:hover {
            border: 1px solid $theme-color;
            i{
                color: $theme-color;
                @include transition(0.2s);
            }
        }
    }
}

.widget_apsc_widget{
    .apsc-inner-block{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .apsc-each-profile{
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        &:last-child{
            border-bottom: none;
            padding: 0;
        }
    }
    .apsc-icons-wrapper{
        padding-top: 0;
    }

    .social-icon {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        vertical-align: middle;

        .fa{
            font-size: 20px;
            width: 20px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            @include rtl-margin-right(15px);
        }
        .media-name{
            color: #585858;
            font-size: 14px;
            text-transform: uppercase;

        }
    }
    .apsc-count{
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        vertical-align: middle;
        height: 50px;
        @include rtl-text-align-right();
        line-height: 50px;
        @include rtl-margin-right(5px);
    }
    .apsc-media-type{
        line-height: 50px;
        text-transform: lowercase;
    }

    .fa-facebook{
        color: #3b5998;
    }

    .fa-google-plus{
        color: #dd4b39;
    }

    .fa-twitter{
        color: #00aced;
    }

    .fa-instagram{
        color: #517fa4;
    }

    .fa-pinterest{
        color: #cb2027;
    }

    .fa-skype{
        color: #0078ca;
    }

    .fa-vimeo{
        color: #aad450;
    }
    .fa-youtube{
        color: #bb0000;
    }

    .fa-dribbble{
        color: #ea4c89;
    }

    .fa-linkedin{
        color: #007bb6;
    }

    .fa-rss{
        color: #FF9900;
    }
}