//style carousel
.slick-prev,
.slick-next{
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    cursor: pointer;
    color:$font-color;
    background: rgba(255, 255, 255, 0.5);
    border-radius:0;
    position: absolute;
    z-index: 99;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.13);
    @include transition(0.4s);
    &:before{
        color: $font-color;

    }
    &:hover{
        background: $theme-color;
        color:#FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
        @include transition(0.4s);
        opacity: 1;
        &:before{
            color:#FFF;
        }
    }
}
.product-carousel:hover{
    .slick-prev,
    .slick-next{
        opacity: 1;
    }
}
