/*Style single blog*/
*{
    &:focus, &:active {
        outline: none;
        border-color: none;
    }
}
.post-format .ti-control-play,.post-format .ti-camera,.post-format .ti-headphone,.post-format .ti-quote-left{
    position: absolute;
    right:10px;
    top:10px;
    background: $theme-color;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #f1f1f1;
    border-radius: 100%;
    line-height: 45px;
    @include transition(0.4s);
    display:none;
    &:hover{
        @include transition(0.4s);
        background: $theme-color;
        color: #f1f1f1;
    }
}
.single {
    .post-image {
        .wp-post-image {
            display: inline-block;
            text-align: center;
        }
    }
    .post-image {
        box-shadow: none;
    }
}
.post-image{
    text-align: center;
    position: relative;
}

.post-image{
    > *{
        display: block;
    }
    ul li{
        list-style:none;
    }
    .owl-carousel{
        padding: 0;
        z-index: 999;
        .fa{
            font-weight: 700;
        }
        .owl-prev{
            left:15px;
            border-width:2px;
        }
        .owl-next{
            right:15px;
            border-width:2px;
        }

    }
    img{
        float: none !important;
    }
}
.single .entry-header,.single .article-content {
    text-align: center;
}
.post-cat{
    color: #9e9e9e;
    text-transform: capitalize;
    position: relative;
    display: block;
    text-align: center;
    font-size: 13px;

    a{
        color: #9e9e9e;
        position: relative;
        font-size: 13px;
        display: inline-block;
    }
}

.post-date{
    color: #9e9e9e;
    font-size: 14px;
}
//title entry
.entry-header{
    padding-top: 40px;
}
.entry-title{
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 38px;
    font-weight: 500;
    margin-top: 0;
    color: #282828;
    a{
        color: #282828;
        @include transition(0.3s);
        &:hover {
            color: $theme-color;
        }
    }

}

.entry-avatar{
    margin: 10px 0 40px;
    .total-view {
        @include rtl-margin-right(2px);
    }
    .comment-text {
        i {
            padding: 0 5px;
        }
    }
    .avatar{
        border-radius: 100%;
        @include rtl-margin-right(10px);
    }
    .author-by,.author-on{
        color: #9e9e9e;
        font-style: italic;
    }
    .author-title{
        font-weight: 400;
        font-size: 14px;
        color: $theme-color;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 8px;
            border-left: 1px solid #afafaf;
            right: -15px;
            top: 6px;
        }
    }
    .author-link{
        text-transform:capitalize;
        color: #9e9e9e;
        font-weight: 500;
        letter-spacing: 0.4px;
        font-size:14px;
        &:hover {
            color: $theme-color;
        }
    }
    .count-share{
        @include rtl-float-right();
    }
    >*{
        display:inline-block;
    }
}
.entry-footer{
    padding-top: 15px;
    color: #757575;
    i{
        font-size: 15px;
        @include rtl-padding-right(3px);
        line-height: 22px;
    }

    .comment-text{
        padding: 0 10px;
        color: #757575;
        .fb_comments_count{
            @include rtl-padding-right(5px);
        }
        .i{
            font-size: 16px;
        }
        .txt{
            font-size:12px;
        }
        &:hover {
            *{
                color: $theme-color;
                @include transition(0.2);
            }
        }

    }
}
.archive-header .entry-title{
    padding: 15px 0;

}
.total-view, .comments-link {
    .fa {
        padding-right: 5px;
    }
}
//meta comment
.post-comment{
    padding-bottom: 25px;
    line-height: 24px;
    .fa{
        @include rtl-padding-right(10px);
        color: $theme-color;
    }
    span{
        font-size: 12px;
        &:first-child{
            @include rtl-padding-left(0px);
        }
    }
}

//tag
.tags-wrap .tags{
    color: #9e9e9e;
    > span{
        font-weight: bold;
        font-size: 16px;
        @include rtl-padding-right(5px);
    }
    .fa{
        @include rtl-padding-right(10px);
        color: $font-color;
    }
    a{
        background: #ffffff none repeat scroll 0 0;
        color: #9e9e9e;
        display: inline-block;
        font-size: 14px;
        line-height: 30px;
        padding: 0 5px;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        &:hover{
            @include transition(0.2s);
            color: $theme-color;
        }

    }
}

//content
.entry-content{
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
}
//avatar
.author-img{
    >img{
        border-radius:100%;
        max-width:inherit;
    }
}
.avatar{
    >img{
        max-width:inherit;
        border-radius: 100%;
    }
}
.author-content{
    h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a{
        color: $color-title;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }
    .author-social{
        margin: 0 15px;

    }
    p{
        font-size: 14px;
        color:#757575 ;
        margin: auto;
        line-height: 24px;
    }
}
//comment
.comment-text{
    .tags-link-wrap{
        @include rtl-padding-right(30px);
        display: inline-block;
    }
    .text-comment{
        display: inline-block;
    }
}
.text-comment {
    &:hover {
        color: $theme-color;
        i{
            color: $theme-color;
        }
    }
}
.comment-box{
    .comment-text{
        font-size: 16px;
        color: #757575;
        line-height: 24px;
        >p{
            margin:0;
        }
    }
}
.commentform{
    padding-bottom: 10px;
    input[type="submit"] {
        padding: 8px 30px;
    }
}
#comments{
    .form-control {
        border: 1px solid #d9d9d9;
    }
    .heading{
        color: $color-title;
        margin-bottom: 10px;
        margin-top: 50px;
        font-weight: 500;
        font-size: 24px;
        &::after {
            content: none;
        }
    }
    .comment-list{
        padding: 0;
        margin: 0;

        li.comment {
            border-top: 1px solid #e9e9e9;
            list-style: outside none none;
            padding: 30px 0;
        }
    }

    .text-user{
        text-transform: capitalize;
        font-weight: 500;
        color: $color-title;
        >a{
            color: $color-title;
        }
    }
    .meta-user{
        color: #7c7c7e;
        padding-top: 15px;
        a{
            background: #fff;
            border-radius: 3px;
            color: $theme-color;
            font-size: 12px;
            padding: 2px 5px;
            @include transition(0.2s);
            &:first-child {
                @include rtl-padding-left(0);
            }
        }
    }

    .children{
        @include rtl-padding-left(85px);
        li:first-child{
            margin-top: 20px;
        }
        li:last-child{
            padding-bottom: 0;
        }
    }
    .comment-author{
        padding-bottom: 10px;
    }

    .h-info{
        padding-bottom: 30px;
    }

    .the-comment > .avatar{
        @include rtl-padding-right(15px);
    }
    .ground-user{
        .comment-time{
            padding: 5px 0;
            display: block;
            font-size: 11px;
        }
    }
}
#commentform{
    .comment-text{
        text-transform: lowercase;
    }
}
//post related
.post-related{
    padding:30px 0px 0;
    .post-box{
        @include rtl-text-align-left();
    }
    .widgettitle{
        text-align: center;
        display: block;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 60px;
    }
    .post-cat{
        font-size: 12px;
    }
    .group-des{
        color: $font-color;
        font-style: italic;
        font-size: 12px;
    }
    .author-link{
        font-weight:600;
        color:$font-color;
        font-style: normal;
        &:hover{
            color: $theme-color;
        }
    }
}
.item-related{
    .post-format{
        width: 30px;
        height: 30px;
        @include rtl-right(20px);
        line-height: 32px;
        font-size: 12px;
        bottom: -15px;
        top:auto;
    }
}
.item-related{
    .post-image{
        padding: 0;
    }
    .ground-title{
        min-height: 70px;
        padding: 15px 20px 30px;
    }
    .post-title{
        @include rtl-text-align-left();
        font-size: 14px;
        color: $color-title;
        margin: 3px 0 20px;
        line-height: 20px;
        min-height: 40px;
        >a{
            color:$color-title;;
            font-weight:500;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .embed-responsive{
        overflow: visible;
    }
}

//comments
.item-comment{
    padding:0;
    font-style: normal;
    margin: 0;
    >span{
        vertical-align: middle;
        font-weight: 500;
        @include rtl-padding-left(7px);
        font-size: 13px;
    }
    i{
        font-size: 14px;
    }
}
.icon-comment{
    font-size: 18px;
    color: #D1D1D0;
    @include rtl-padding-left(0px);
}
//pagination post
.entry_pagination{
    padding-top: 30px;
    border-top: 1px solid #ededed;
    .txt-pagination {
        margin-top: 15px;
    }
    .pagination{
        margin: 0;
        border: none;
        .fa{
            color: $theme-color;
        }
        .page-numbers:hover{
            .fa{
                color: $theme-color;
            }
        }

    }

    .page-numbers{
        background: none;
        box-shadow: none;
        color: $color-title;
        vertical-align: middle;
        border-radius:0;
        margin: 0;
        border: none;
        img {
            display: none;
            border-radius: 100%;
        }
        i{
            color: $theme-color;
            padding: 15px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
            background: white;
            border-radius: 100%;
            text-align: center;
        }
        &:hover{
            color: $theme-color;
            background: none;
            box-shadow: none;
            border: none;
            i{
                color:white;
                background:$theme-color;
            }
        }
        &.page-prev{
            max-width: 50%;
            @include rtl-text-align-left();
            @include transition(0.4s);
            img {
                @include rtl-margin-right(20px);
                @include rtl-float-left();
            }
            .txt-prev {
                float: left;
            }
        }
        &.page-next{
            max-width: 50%;
            @include rtl-text-align-right();
            @include transition(0.4s);
            border-radius: 0 0 5px 0;
            img {
                @include rtl-margin-left(20px);
                @include rtl-float-right();
            }
            .txt-next {
                float: right;
            }
        }
        .btn-prev{
            font-size: 14px;
            font-weight: 400;
            color:$theme-color;
            letter-spacing: 0.3px;
        }
        .btn-next{
            color:$theme-color;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.3px;
        }
        .title-pagination{
            font-size: 16px;
            line-height: 20px;
            padding-top: 10px;
            font-weight: 500;
            margin-bottom: 0;
        }

    }
}
.pr-single {
    margin-bottom: 10px;
}
.form-submit{
    @include clearfix();
    margin-top: 30px;
    margin-bottom: 0;
}

.article-meta-single{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    .post-date {
        color: #7c7c7e;
        font-size: 12px;
        @include rtl-padding-left(7px);
        text-transform: uppercase;
    }
}
.article-meta {
    color: #9e9e9e;
     a{
         color: #9e9e9e;
     }
}
.post-author{
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}

.content-social-author {
    display: inline-block;
    margin-top: 10px;
    a{
        width: 30px;
        height: 30px;
        background: transparent;
        color: #bb9757;
        font-size: 14px;
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        @include transition(0.2);
        border-radius: 100%;
        border: 1px solid $color-title;
    }
}
.top-author {
    margin: 30px 0 30px;;
}
.author-content{
    vertical-align: middle;
    .author-social{
            &:hover{
                border:1px solid $theme-color;
                i{
                    color: $theme-color;
                }
            }
        i {
            font-size: 14px;
            @include transition(0.2);
        }
        margin: 0 10px;
    }
    h5{
        display: block;
        margin: 0;
        a {
            font-weight: 500;
            text-transform: capitalize;
            position: relative;
            &:hover  {
                color: $theme-color;
            }
            &::after {
                content: '';
                height: 1px;
                position: absolute;
                left: 50%;
                @include translateX(-50%);
                width: 30px;
                border-bottom: 1px solid #bb9757;
                top: 35px;
            }
        }
    }

    a{
        color: $color-title;
        font-weight: 500;
        font-size: 24px;
        text-transform: capitalize;
    }

    p{
        font-size: 16px;
        color:#757575 ;
        line-height: 30px;
        margin: auto;
    }
}
.entry-footer-social {
    display: inline-block;
}
.tags-wrap{
    display: inline-block;
    @include rtl-float-right;
    .tags-title{
        color: $color-title;
        line-height: 30px;
    }
}
.entry-footer-social{
    .entry-footer-left{
        line-height: 40px;
        @include rtl-float-left();
        >*{
            display: inline-block;
            font-size: 15px;
        }
    }
    .entry-footer-right{
        @include rtl-float-right();
        >*{
            display: inline-block;
            color: #252525;
        }
        .lc-4,.lc{
            color: #757575;
            height: 30px;
            @include rtl-left(0);
            position: absolute;
            top: 0;
            width: 30px;
            font-size: 0;
        }
        .action-like  span::before{
            font-size: 14px;
            @include rtl-left(-22px);
            line-height: 5px;
            top: 6px;
            color: #DD4B39;
        }
        .like-links{
            cursor: pointer;
            &:hover{
                color: #DD4B39;
                a{
                    color: #DD4B39;
                }
            }
        }
    }
}
.count-share{
    .social-icons{
        @include rtl-right(0px);
        z-index: 999;
    }
}


//like
.entry-content{
    .watch-action{
        display: none !important;
    }
    a{
        color: $theme-color;
    }
}
.entry-footer {
    .entry-footer{
        @include rtl-padding-left(60px);
    }
}
.watch-action{
    .watch-position,.action-like,.lc,.unlc{
        float: none;
        line-height: 24px;
    }
    position: relative;
    .action-like,.action-unlike{
        img{
            display: none;
        }
    }
    .action-like{
        position: relative;
        @include rtl-padding-left(15px);
        >a{
            color: #757575;
            .lc{
                color:#757575;
            }
        }
        span::before{
            content:"\e634";
            font-family: 'themify';
            font-size: 14px;
            top:-2px;
            @include rtl-left(0);
            position: absolute;

        }
    }
    .action-unlike{
        display: none !important;
    }
    .status{
        display: none !important;
    }

}
.main-content .box-comment{
    margin-bottom: 0;
}
.comment-navigation{
    clear: both;
    padding: 0 0 30px;
    .previous{
        @include rtl-float-left();
        display: inline-block;
    }
    .next{
        @include rtl-float-right();
        display: inline-block;
    }
}
.taxonomy-description {
    font-size: 14px;
    margin-bottom: 30px;
}
.description-page{
    display: none;
    &.show{
        display: block;
    }
}

.single-2 {
    .entry-header {
        padding-top: 0;
        margin-bottom: 15px;
    }
    .image-single-2 {
        margin-bottom: 30px;
    }
}

.share-content {
    >*{
        font-size: 14px;
        color: #8d8d8d;
    }
}
a.readmore {
    color: #8c8c8c;
    display: inline-block;
    position: relative;
    margin-top: 17px;
    padding: 10px 20px;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    font-weight: 400;
    @include transition(0.2s);
    &:hover{
        color: #fff;
        border: 1px solid $color-title;
        background: $color-title;
        &::after {
            border-bottom: 1px solid $color-title;
            opacity: 0.8;
        }
    }
}
.navigation {
    span.current  {
        background:$color-title;
        color: #fff;
        border: 1px solid $color-title;
    }
    a {
        &:hover {
            background:$color-title;
            color: #fff;
            border: 1px solid $color-title;
        }
        @include transition(0.2s);
        border: 1px solid #e9e9e9;
    }
    >*{
        padding: 8px 15px;
        margin-right: 10px;
        &:last-child {
            margin: 0;
        }
    }
}
.content-single-full {
    .padding-content-single {
        padding-right: 60px;
        padding-left: 60px;
    }
}
.main-view-like {
    display: inline-block;
    color: #9e9e9e;
    padding-left: 3px;
    .total-view, .comment-text {
        font-size: 13px;
        display: inline-block;
        *{
            font-size: 13px;
            color: #9e9e9e;
        }
    }
}
.content-sidebar-right {
    padding-right: 30px;
}
.content-sidebar-left {
    @include rtl-padding-left(30px);
}
.title-vertical,.title-box {
    text-align: center;
    font-weight: 500;
    margin-bottom:40px;
    margin-top: 25px;
}
.title-box {
    @include rtl-text-align-left;
    display: inline-block;
    margin: 0;
    margin-bottom: 40px;
    &::after {
        left: 0;
        @include translateX(0);
    }
}
.group-image-banner {
    margin-bottom: 30px;
}
.na-banners  {
    position: relative;
    .content {
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 9;
        background: #fff;
        left: 50%;
        opacity: 0.96;
        top: 50%;
        &::after {
            content: "";
            position: absolute;
            left: -4px;
            right: -5px;
            top: -4px;
            bottom: -4px;
            z-index: -1;
            opacity: 0.9;
            border: 1px solid #fff;
        }
        .bannertitle {
            margin: 0;
            font-size: 16px;
            a{
                color: $theme-color;
            }
        }
    }
}
.vc_col-sm-4{
    .group-image-banner {
        margin-bottom: 30px;
    }
    &:nth-child(3) {
        .group-image-banner {
            margin-bottom: 0;
        }
    }
}
#comments {
    input[type="text"] {
        border-radius: 0;
    }
}
.slicknav_menu .slicknav_icon-bar {
    height: 2px;
    width: 24px;
}
.sbi_item  {
    border: 1px solid #fff;
}
.article-image {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.sticky-post{
    color: $theme-color;
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: 0;
}
.btn-mini-search {
    i {
        line-height: 24px;
    }
}
.slicknav_menu {
    >ul {
        li {
            &:first-child {
                >a {
                    border-top: none;
                    >a {
                        border-top: none;
                    }
                }
            }
        }
    }
}
.fitnez-instagram {
    @include rtl-margin-left(-10px);
}
.embed-responsive  {
    padding-bottom: 0!important;
}
.post-item {
    .post-quote {
        padding: 0;
    }
}
.post-vertical  {
    .post-cat {
        color: #fff;
    }
}